<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Student Management</a>
        <a class="btn btn-light" href="/">Back</a></div></nav>
<div class="container mt-5">
    <div class="card shadow p-4">
        <h3>Dashboard</h3>
        <!-- ✅ YAHAN CARD LAGANA HAI -->
        <div class="row mb-4">

            <div class="col-md-4">
                <div class="card text-white bg-primary shadow">
                    <div class="card-body">
                        <h5>Total Students</h5>
                        <h2 th:text="${totalStudents}"></h2>
                    </div>
                </div>
            </div>

        </div>
        <canvas id="chart"></canvas></div>
</div>
<script th:inline="javascript">
    let labels = [[${labels}]];
    let data = [[${data}]];
    new Chart(document.getElementById("chart"), {
        type: "bar",
        data: {
            labels: labels,
            datasets: [{
                label: "Students per Course",
                data: data,
                backgroundColor: "blue"
            }]
        }
    });
</script>
</body>
</html>